<head>
	<title>bartender</title>

	<script src="{{ url_for('static', filename='d3.min.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='jquery-1.11.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bartender.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script language="javascript" type="text/javascript">
	    
	</script>
</head>

<body>
	<div id='recipes'>
	</div>
	<footer>
		<a href="https://raw.githubusercontent.com/dandelin/webtoonD3/master/LICENSE">License</span>
		<a> & </a>
		<a href="https://github.com/dandelin/bartender">Github Repo</span>
	</footer>
</body>